<launch>
    <include file="$(find droneoa_ros)/launch/sitl/step1SITL.launch" />
    <include file="$(find droneoa_ros)/launch/components/rosbridge_tcp.launch">
        <arg name="bson_only_mode" value="true" /> 
    </include>
    <include file="$(find droneoa_ros)/launch/components/imageToPC2.launch" />
    <include file="$(find droneoa_ros)/launch/components/octomap_depth.launch">
        <arg name="octomap_frame_id" value="world"/>
        <arg name="octomap_pc_src" value="/depth_registered/points"/>
    </include>
</launch>
