<launch>
    <include file="$(find droneoa_ros)/launch/components/apm.launch" />
    <include file="$(find droneoa_ros)/launch/components/rs_camera.launch" />
    <include file="$(find droneoa_ros)/launch/components/lidar.launch" />
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->
    <!-- <include file="$(find ydlidar)/launch/lidar.launch" /> -->
    <include file="$(find droneoa_ros)/launch/components/octomap_depth.launch">
        <arg name="octomap_frame_id" value="camera_odom_frame"/>
        <arg name="octomap_pc_src" value="/d435/depth/color/points"/>
    </include>
</launch>
