<launch>
    <include file="../components/apm.launch" />
    <include file="../components/rs_camera_t265_d435.launch" />
    <include file="../components/lidar.launch" />
    <include file="../components/t265_tf_to_mavros.launch"/>
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->
    <!-- <include file="$(find ydlidar)/launch/lidar.launch" /> -->
    <include file="../components/octomap_depth.launch">
        <arg name="octomap_frame_id" value="camera_odom_frame"/>
        <arg name="octomap_pc_src" value="/d435/depth/color/points"/>
    </include>
</launch>
