<launch>
    <node pkg="nodelet" type="nodelet" args="manager"
        name="ue4_pointcloud_manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="points_xyzrgb_ue4"
            args="load depth_image_proc/point_cloud_xyzrgb ue4_pointcloud_manager false" respawn="false">
        <remap from="rgb/image_rect_color"        to="/unreal_ros/image_color" />
        <remap from="rgb/camera_info"             to="/unreal_ros/camera_info" />
        <remap from="depth_registered/image_rect" to="/unreal_ros/image_depth" />
    </node>
</launch>